.project
.classpath
.externalToolBuilders
.settings/
.metadata
*.launch
target/

.idea/
*.iml
.idea/uiDesigner.xml

.loadpath
.factorypath
.target
.springBeans
.recommenders/
.recommenders
.DS_Store

log/
logs/
bin/
tmp/

*.tmp
*.bak
*.swp

/.clover/
.pmd
.pmdruleset.xml
.checkstyle

node_modules/
node/
